
#navbar {
	/*position: fixed;
	width: 100%;*/
	background-color: #232f3e;
	color:white;
}

.nav-link {
	margin: 5px 0 px 0;
	padding: 8px 12px !important;
	box-sizing: content-box;
}

.nav-link:hover {
	padding: 7px 11px !important;
	color: #FFFFFF !important;
	border: 1px solid;
	border-radius: 2px;
	outline: 0;
}

.dropdown-toggle:hover {
	padding: 8px 12px !important;
	border: 0px ;
}